WEB-INF/wsdl/localhost_8080/CurrencyConversion/MoneyTransfer.wsdl

<?xml version='1.0' encoding='UTF-8'?><!-- Published by JAX-WS RI at http://jax-ws.dev.java.net. RI's version is Metro/2.3 (tags/2.3-7528; 2013-04-29T19:34:10+0000) JAXWS-RI/2.2.8 JAXWS/2.2 svn-revision#unknown. --><!-- Generated by JAX-WS RI at http://jax-ws.dev.java.net. RI's version is Metro/2.3 (tags/2.3-7528; 2013-04-29T19:34:10+0000) JAXWS-RI/2.2.8 JAXWS/2.2 svn-revision#unknown. --><definitions xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" xmlns:wsp="http://www.w3.org/ns/ws-policy" xmlns:wsp1_2="http://schemas.xmlsoap.org/ws/2004/09/policy" xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:tns="http://webservices/" xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns="http://schemas.xmlsoap.org/wsdl/" targetNamespace="http://webservices/" name="MoneyTransfer">
<types>
<xsd:schema>
<xsd:import namespace="http://webservices/" schemaLocation="http://localhost:8080/CurrencyConversion/MoneyTransfer?xsd=1"/>
</xsd:schema>
</types>
<message name="senderName">
<part name="parameters" element="tns:senderName"/>
</message>
<message name="senderNameResponse">
<part name="parameters" element="tns:senderNameResponse"/>
</message>
<message name="receiverName">
<part name="parameters" element="tns:receiverName"/>
</message>
<message name="receiverNameResponse">
<part name="parameters" element="tns:receiverNameResponse"/>
</message>
<message name="transferFee">
<part name="parameters" element="tns:transferFee"/>
</message>
<message name="transferFeeResponse">
<part name="parameters" element="tns:transferFeeResponse"/>
</message>
<message name="destinationMoney">
<part name="parameters" element="tns:destinationMoney"/>
</message>
<message name="destinationMoneyResponse">
<part name="parameters" element="tns:destinationMoneyResponse"/>
</message>
<message name="senderCurrency">
<part name="parameters" element="tns:senderCurrency"/>
</message>
<message name="senderCurrencyResponse">
<part name="parameters" element="tns:senderCurrencyResponse"/>
</message>
<message name="receiverCurrency">
<part name="parameters" element="tns:receiverCurrency"/>
</message>
<message name="receiverCurrencyResponse">
<part name="parameters" element="tns:receiverCurrencyResponse"/>
</message>
<message name="amountReceived">
<part name="parameters" element="tns:amountReceived"/>
</message>
<message name="amountReceivedResponse">
<part name="parameters" element="tns:amountReceivedResponse"/>
</message>
<message name="originMoney">
<part name="parameters" element="tns:originMoney"/>
</message>
<message name="originMoneyResponse">
<part name="parameters" element="tns:originMoneyResponse"/>
</message>
<message name="amountTransferred">
<part name="parameters" element="tns:amountTransferred"/>
</message>
<message name="amountTransferredResponse">
<part name="parameters" element="tns:amountTransferredResponse"/>
</message>
<message name="currencyConverter">
<part name="parameters" element="tns:currencyConverter"/>
</message>
<message name="currencyConverterResponse">
<part name="parameters" element="tns:currencyConverterResponse"/>
</message>
<portType name="MoneyTransfer">
<operation name="senderName">
<input wsam:Action="http://webservices/MoneyTransfer/senderNameRequest" message="tns:senderName"/>
<output wsam:Action="http://webservices/MoneyTransfer/senderNameResponse" message="tns:senderNameResponse"/>
</operation>
<operation name="receiverName">
<input wsam:Action="http://webservices/MoneyTransfer/receiverNameRequest" message="tns:receiverName"/>
<output wsam:Action="http://webservices/MoneyTransfer/receiverNameResponse" message="tns:receiverNameResponse"/>
</operation>
<operation name="transferFee">
<input wsam:Action="http://webservices/MoneyTransfer/transferFeeRequest" message="tns:transferFee"/>
<output wsam:Action="http://webservices/MoneyTransfer/transferFeeResponse" message="tns:transferFeeResponse"/>
</operation>
<operation name="destinationMoney">
<input wsam:Action="http://webservices/MoneyTransfer/destinationMoneyRequest" message="tns:destinationMoney"/>
<output wsam:Action="http://webservices/MoneyTransfer/destinationMoneyResponse" message="tns:destinationMoneyResponse"/>
</operation>
<operation name="senderCurrency">
<input wsam:Action="http://webservices/MoneyTransfer/senderCurrencyRequest" message="tns:senderCurrency"/>
<output wsam:Action="http://webservices/MoneyTransfer/senderCurrencyResponse" message="tns:senderCurrencyResponse"/>
</operation>
<operation name="receiverCurrency">
<input wsam:Action="http://webservices/MoneyTransfer/receiverCurrencyRequest" message="tns:receiverCurrency"/>
<output wsam:Action="http://webservices/MoneyTransfer/receiverCurrencyResponse" message="tns:receiverCurrencyResponse"/>
</operation>
<operation name="amountReceived">
<input wsam:Action="http://webservices/MoneyTransfer/amountReceivedRequest" message="tns:amountReceived"/>
<output wsam:Action="http://webservices/MoneyTransfer/amountReceivedResponse" message="tns:amountReceivedResponse"/>
</operation>
<operation name="originMoney">
<input wsam:Action="http://webservices/MoneyTransfer/originMoneyRequest" message="tns:originMoney"/>
<output wsam:Action="http://webservices/MoneyTransfer/originMoneyResponse" message="tns:originMoneyResponse"/>
</operation>
<operation name="amountTransferred">
<input wsam:Action="http://webservices/MoneyTransfer/amountTransferredRequest" message="tns:amountTransferred"/>
<output wsam:Action="http://webservices/MoneyTransfer/amountTransferredResponse" message="tns:amountTransferredResponse"/>
</operation>
<operation name="currencyConverter">
<input wsam:Action="http://webservices/MoneyTransfer/currencyConverterRequest" message="tns:currencyConverter"/>
<output wsam:Action="http://webservices/MoneyTransfer/currencyConverterResponse" message="tns:currencyConverterResponse"/>
</operation>
</portType>
<binding name="MoneyTransferPortBinding" type="tns:MoneyTransfer">
<soap:binding transport="http://schemas.xmlsoap.org/soap/http" style="document"/>
<operation name="senderName">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="receiverName">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="transferFee">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="destinationMoney">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="senderCurrency">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="receiverCurrency">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="amountReceived">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="originMoney">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="amountTransferred">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="currencyConverter">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
</binding>
<service name="MoneyTransfer">
<port name="MoneyTransferPort" binding="tns:MoneyTransferPortBinding">
<soap:address location="http://localhost:8080/CurrencyConversion/MoneyTransfer"/>
</port>
</service>
</definitions>